extends ../includes/layout-2.pug
block var
    -
        let serviceVarable = [
            'CLIENT-REPRESENTATION-title.png',
            'CLIENT-REPRESENTATION-1.png',
            0
        ]
block content
    div.
        <p style="font-size:16px; line-height: 2"></p><p><strong>» At ECB</strong>, we think of every project we take up as our own. We act as an extension of you company / business and we represent your best interests throughout the project from inception till successful close out.</p>
        <p><strong>»</strong> We have experienced, senior project managers who work with your organization to identify needs and benefits and then assist you to procure the best in class teams to design and construct your project.</p>
        <p><strong>»</strong> The early appointment of a Client’s Representative has a number of major benefits:</p>
        <p>★ Efficient management of pre-construction phase will save you time and money.<br>
        ★ The design review / value engineering process and the allocation of the project budget in the most effective way will be coordinated by an unbiased and experienced professional.<br>
        ★ Any necessary additional specialist consultants that should be brought onto the project team will be identified and appointed in a timely manner, thereby minimizing costly “afterthoughts”.<br>
        ★ The burden of the project development and delivery process can be removed from the client’s shoulders – thereby enabling the client to pursue other opportunities.<br>
        ★ And, most importantly, potentially expensive mistakes can be avoided.</p>
        <p></p>