extends ../includes/layout-2.pug
block var
    -
        let serviceVarable = [
            'DESIGN-SERVICESt.png',
            'DESIGN-SERVICES.png',
            37
        ]
block content
    div.
        <p style="font-size:16px; line-height: 2"></p><p><strong>★ ARCHITECTURE &amp; MASTER PLANNING DESIGN</strong></p>
        <p>Our architecture department is responsible for the architecture, master planning, and landscape design from the concept phase to the preparation of final tender documents. This is enabled by understanding client’s needs ideas, and requirement and visualizing them into reality following international design standards and regulations.<br>
        We aim to create a world class, efficient, and architecturally appealing projects.</p>
        <p><strong>★ STRUCTURE DESIGN</strong></p>
        <p>Structure design team work on providing a safe structure adhering to the international building codes and meeting the client’s needs and requirements. We carry out challenging design tasks in order to satisfy architectural needs and clients’ different attitudes.</p>
        <p><strong>★ MEP DESIGN</strong></p>
        <p>We provide a competitive design product for clients and operators by ensuring the reliability and cost-effectiveness of the building systems.<br>
        This is aiming to saving money for our clients by implementing the best procedures and settings for the specific systems.</p>
        <p>We provide a wide range of <strong>MEP services</strong> as following:</p>
        <p>☆ High and Medium voltage electrical network design.<br>
        ☆ Electrical, IT and Communications system design.<br>
        ☆ Security &amp; Access Systems.<br>
        ☆ HVAC &amp; Mechanical System Design.<br>
        ☆ Plumbing System Design.<br>
        ☆ Fire Protection System Design.<br>
        ☆ Building Management Systems Consulting.</p>
        <p>&nbsp;</p>
        <p><strong>★ INFRASTRUCTURE DESIGN</strong></p>
        <p>Site Infrastructure Design and Civil engineering is one of the services we offer, we have the knowledge and expertise to advise on the civil engineering requirements of development and infrastructure projects, from the feasibility stage through to construction.</p>
        <p>☆ Potable water networks and treatments plants design.<br>
        ☆ Sewage gravity networks, force mains, pumping station and STP Design.<br>
        ☆ Roads Design.<br>
        ☆ Traffic studies &amp; Engineering.<br>
        ☆ Flood Management.<br>
        ☆ Power Plants, Transmission and Distribution networks Design.<br>
        ☆ Geo technical and geophysical investigation.<br>
        ☆ Topographical Surveys.</p>
        <p></p>