extends ../includes/layout-2.pug
block var
    -
        let serviceVarable = [
            'Façade-Engineering.png',
            'Façade-Engineeringb.png',
            1
        ]
block content
    div.
        <p style="font-size:16px; line-height: 2"></p><p><strong>» </strong>The facade is a potentially high-risk element in successful building delivery as it is a critical interface to overall building performance success.</p>
        <p><strong>» </strong>Our Facade Engineering team considers all aspects of building enclosure performance including material selection and compatibility, water penetration control, air tightness, structural adequacy, energy efficiency, cost, build-ability, and maintenance requirements, One of the most important matters related to facade design is fire safety, ECB has unique expertise in this field and can advise on materials selection and facade system configuration to achieve better reaction-to-fire and fire resistance performance of the whole facade.</p>
        <p></p>







