extends ../includes/layout-2.pug
block var
    -
        let serviceVarable = [
            'FEASIBILITY-STUDIESt.png',
            'FEASIBILITY-STUDIES.png',
            1
        ]
block content
    div.
        <p style="font-size:16px; line-height: 2"></p><p><strong>»</strong> Our extensive experience in the field of construction allows us to carry out a thorough feasibility study for our clients.</p>
        <p><strong>»</strong> The feasibility studies are undertaken by highly qualified and experienced professionals who carry out the following steps in order to provide a complete, reliable, and informative feasibility report:</p>
        <p>★ Needs identification &amp; analysis.<br>
        ★ Options &amp; alternatives analysis.<br>
        ★ Due diligence for each option.<br>
        ★ Financial analysis.<br>
        ★ Construct-ability analysis.</p>
        <p></p>