extends ../includes/layout-2.pug
block var
    -
        let serviceVarable = [
            'Fire-Engineering.png',
            'Fire-Engineeringb.png',
            1
        ]
block content
    div.
        <p style="font-size:16px; line-height: 2"></p><p>we provide a wide range of services to deliver fire-safe buildings that are also functional and economical, These include the development of fire safety strategies, fire engineering design and specification, fire safety audits, fire risk assessments, computer simulation for fire, smoke, evacuation and structural response in addition to value engineering exercises and peer reviews.</p>
        <p><strong>Services:</strong></p>
        <p>★ Fire engineering design and analysis.<br>
        ★ Fire risk identification and assessment.<br>
        ★ Smoke control design and modelling.<br>
        ★ Structural fire engineering.<br>
        ★ Evacuation analysis and flow modelling.<br>
        ★ External fire spread analysis.</p>
        <p></p>