extends ../includes/layout-2.pug
block var
    -
        let serviceVarable = [
            'LEED-CONSULTANCYt.png',
            'LEED-CONSULTANCY.png',
            0
        ]
block content
    div.
        <p style="font-size:16px; line-height: 2"></p><p><strong>» LEED consultancy service</strong> is provided to clients seeking the LEED certification for their buildings in accordance with the regulations of the US Green Building Council (USGBC).<br>
        ECB’s LEED consultancy services span along the project’s different stages in adherence with the relative codes and regulation in order to achieve the client’s requirements in a timely fashion.</p>
        <p><strong>»</strong> <strong>Our LEED consultancy services</strong> encompass the following:</p>
        <p>★ General LEED consultancy.<br>
        ★ LEED consultancy during construction.<br>
        ★ LEED commissioning.</p>
        <p></p>