extends ../includes/layout-2.pug
block var
    -
        let serviceVarable = [
            'REAL-ESTATE-APPRAISALt.png',
            'REAL-ESTATE-APPRAISAL.png',
            0
        ]
block content
    div.
        <p style="font-size:16px; line-height: 2"></p><p><strong>»</strong> For over 20 years, <strong>ECB</strong> has served the process of valuing real estate properties for many clients, Banks and Real estate financing companies.</p>
        <p><strong>»</strong> The services include:</p>
        <p>★ Adequate description of the property.<br>
        ★ Market data, and other factual data studies including risk assessment, mitigation, and contingency plans of actions.<br>
        ★ The latitude of the reasoning in determining the value opinion.<br>
        ★ A final value opinion.</p>
        <p></p>