extends ../includes/layout-2.pug
block var
    -
        let serviceVarable = [
            'SITE-SUPERVISIONt.png',
            'SITE-SUPERVISION.png',
            41
        ]
block content
    div.
        <p style="font-size:16px; line-height: 2"></p><p><strong>» Site Supervision and Quality control department</strong> provides a wide range of site supervision supported by experienced staff in the field with ECB’s quality control manual, which is matching with the international codes and standards.</p>
        <p>» <strong>Site supervision includes:</strong></p>
        <p>★ Detailed review of the contractors’ quality plan and health &amp; safety plan.<br>
        ★ Survey works.<br>
        ★ Evaluate and approve contractors’ technical submitting inclusive of engineering drawings, materials and method statements.<br>
        ★ Following up on all activities performed by the contractor on site.<br>
        ★ Giving the necessary notes and instructions for guiding / adjusting the contractor activities.<br>
        ★ Oversee the necessary testing procedures.<br>
        ★ Monitoring contractor’s management and control of health and safety by our health, safety and environmental (HSE) specialist team.<br>
        ★ Planning, following up and inspections of repair works and snag list.<br>
        ★ Monitor Testing and commissioning activities.<br>
        ★ Review and approve as-built drawings and close-out procedures.</p>
        <p></p>