extends ../includes/layout-2.pug
block var
    -
        let serviceVarable = [
            'VALUE-ENGINEERINGt.png',
            'VALUE-ENGINEERING.png',
            4
        ]
block content
    div.
        <p style="font-size:16px; line-height: 2"></p><p><strong>» Value Engineering</strong> is a continuous and systematic process performed by a multi-disciplinary team to improve the increase the value/money ration of the project.<br>
        ECB’s team of qualified VE professionals work collaboratively to achieve the lowest possible cost of a project keeping the design intent and objective unchanged.<br>
        Utilizing an integrated VE system will result in a reduction of construction cost, improved functionality, better construct-ability, and early identification of any risks or design problems.</p>
        <p><strong>» ECB</strong> follows the SAVE international value methodology plan to achieve the required goals based on projects’ specific needs.</p>
        <p>★ Information Phase.<br>
        ★ Function analysis phase.<br>
        ★ Creative phase.<br>
        ★ Evaluation phase.<br>
        ★ Development phase.<br>
        ★ Presentation phase.</p>
        <p>&nbsp;</p>
        <p></p>