
-



  let corValues = [
    [
      'Ethics',
      'We are uncompromising in our integrity, Honesty, And fairness',
      'Ethics.png'
    ],
    [
      'Safety & Health',
      'We are relentless in providing safe and healthy work environment',
      'SafetyHealth.png'
    ],
    [
      'Quality',
      'We are passionate about excellence and doing our work right the first time',
      'Quality.png'
    ],
    [
      'People',
      'We inspire each other with important work full of challenging development opportunities',
      'People.png'
    ],
    [
      'Client Service',
      'We aspire to be the employer of choice in our industry',
      'Client-Service.png'
    ],
    [
      'Culture',
      'We are proud of what we do and how we do it—and we enjoy doing it!',
      'Culture.png'
    ],
    [
      'Relationships',
      'We build positive, Long-term relationships with our customers, Joint-venture partners, Subcontractors, Suppliers, And colleagues that are built on trust, Respect, And collaboration',
      'Relationships.png'
    ],
    [
      'Innovation',
      'We develop and apply world-class technology',
      'Innovations.png'
    ],
    [
      'Sustainability',
      'We work by respecting local cultures, Engaging people and protecting the environment',
      'Sustainability.png'
    ],
    [
      'Teamwork',
      'We are committed to a teamwork environment where every individual is a valued member, Treated with respect, Encouraged to rewarded for his/her efforts.',
      'Teamwork.png'
    ],
  ]









  let clientsImgs = [
    '6-Avit.png',
    '5-Misr-Italia.png',
    '4-elnasr-housingdevelopments.png',
    '3-CAPW.png',
    '2-Nerhadou.png',
    '1-We.png',
    '7-Elentag-Elharby.png',
    '6-Egypt-Police.png',
    '5-madinet-nasr-housingdevelopment.png',
    '4-Marsilia-Comps.png',
    '3-Secon.png',
    '2-elmehan-eltamselia.png',
    '1-Maadi-Sports-Club.png',
    '5-CIB.png',
    '4-Arco.png',
    '4-Arco (1).png',
    '3-SUD.png',
    '2-Arabia-Holding.png',
    '1-CFC.png',
    '7-assyut-city-cente.png',
    '6-Club-Dishdaba.png',
    '5-EMSM.png',
    '4-Wady-Elnile.png',
    '3-الهيئة-الهندسية-للقوات-المسلحة.png',
    '2-NBE.png',
    'الهيئة-العامة-للطرق-والكباري1-.png',
    '4-IC-Group.png',
    '3-Oud.png',
    'النقابة-العامة-للمهن-الاجتماعية2-.png',
    '1-Petrojet.png',
    '4-BAnk-Du-caire.png',
    '3-Sweitz-Embassy.png',
    'وزارة-الاسكان-والمجتمعات-العمرانية2-.png',
    '1-ABC-Bank.png'
  ]







  let img = '/assets/imgs/';





  let dataPortfolio = [
      {img: 'Icons-BG.jpg',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-a'},
      {img: '1-Project-Cover-1.jpg',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-b'},
      {img: '1-Project-Cover-55.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-c'},
      {img: 'Project-Cover-2.jpg',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-d'},
      {img: '1-Project-Cover-53.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-e'},
      {img: '1-project-Cover-52.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-f'},
      {img: '1-Project-Cover-51.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-g'},
      {img: '1-Project-Cover-50.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-h'},
      {img: '1-Project-Cover-49.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-i'},
      {img: '1-Project-Cover-48.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-a'},
      {img: '1-Project-Cover-47.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-b'},
      {img: '1-Project-Cover-45.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-c'},
      {img: '1-Project-Cover-44.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-d'},
      {img: '1-Project-Cover-43.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-e'},
      {img: '1-Project-Cover-43 (1).png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-f'},
      {img: '1-Project-Cover-42.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-g'},
      {img: '1-Project-Cover-41.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-h'},
      {img: '1-Project-Cover-40.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-i'},
      {img: '1-Project-Cover-39.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-a'},
      {img: '1-Project-Cover-38.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-b'},
      {img: '1-Project-Cover-36.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-c'},
      {img: '1-Project-Cover-35.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-d'},
      {img: '1-Project-Cover-34.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-e'},
      {img: '1-Project-Photo-2.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-f'},
      {img: '1-Project-Cover-33.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-g'},
      {img: '1-Project-Cover-32.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-h'},
      {img: '1-Project-Cover-31.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-i'},
      {img: '1-Project-Cover-30.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-a'},
      {img: '1-Project-Cover-29.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-b'},
      {img: '1-Project-Cover-28.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-c'},
      {img: '1-Project-Cover-27.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-d'},
      {img: '1-Project-Cover-26.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-e'},
      {img: '1-Project-Cover-25.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-f'},
      {img: '1-Project-Cover-24.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-g'},
      {img: '1-Project-Cover-23.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-h'},
      {img: '1-Project-Cover-22.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-i'},
      {img: '1-Project-Cover-21.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-a'},
      {img: '1-Project-Photo-1.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-b'},
      {img: '1-Project-Cover-20.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-c'},
      {img: '1-Project-Cover-19.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-d'},
      {img: '1-Project-Cover-18.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-e'},
      {img: '1-Project-Cover-17.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-f'},
      {img: '1-Project-Cover-16.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-g'},
      {img: '1-Project-Cover-15.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-h'},
      {img: '1-Project-Cover-14.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-i'},
      {img: '1-Project-Cover-13.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-a'},
      {img: '1-Project-Cover-12.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-b'},
      {img: '1-Project-Cover-11.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-c'},
      {img: '1-Project-Cover-10.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-d'},
      {img: '1-Project-Cover-9.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-e'},
      {img: '1-Project-Cover-8.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-f'},
      {img: 'Project-Cover.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-g'},
      {img: '1-Project-Cover-7.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-h'},
      {img: '1-Project-Cover-6.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-a'},
      {img: '1-Project-Cover-5.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-b'},
      {img: '1-Project-Cover-4.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-c'},
      {img: '1-Project-Cover.jpg',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-d'},
      {img: '1-Project-Photo.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-e'},
      {img: '1-Project-Cover-3.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-f'},
      {img: '1-Project-Cover-2.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-g'},
      {img: '1-Project-Cover-1.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-h'},
      {img: '1-Project-Cover.png',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-i'},
      {img: 'Project-Cover.jpg',title: 'East Village Development',location: 'Stratford, London',filter: 'filter-a'},
  ]





  let contactInfo1 = [
    [
      'far fa-map',
      '<b>ECB Egypt:</b><br>2 Al Imam Abu Hanifa, 7th Avenue, Nasr City, Cairo, Egypt'
    ],
    [
      'far fa-envelope',
      'Info@ecb-consulting.com'
    ],
    [
      'fas fa-phone',
      '+202 2401 3225'
    ],
    [
      'fas fa-fax',
      '+202 2401 3226'
    ],
  ]


  let contactInfo2 = [
    [
      'far fa-map',
      '<b>ECB UK:</b><br>254 Goldhawk Rd, London W12 9PE, UK'
    ]
  ]


  let contactInfo3 = [
    [
      'far fa-map',
      '<b>ECB KSA:</b><br>Prince Sultan Road, Jeddah, Saudi Arabia'
    ],
    [
      'fas fa-phone',
      'Postal Code: 11371 – P.O.: 8040'
    ]
  ]












  let projectContent = [
      ['client',`<p>Aurora Hospitality Management</p>`],
      ['Services',`
      <ul>
          <li>Design Services</li>
          <li>Project Management</li>
          <li>Site Supervision</li>
      </ul>
      `],
      ['Project Description',`
      <ul>
          <li>The Project is located at Marsa Alam, Red Sea with a total area of 284,000 sq.m and it comprises a 400 keys hotel, serviced apartments, casino, retail shops, SPA, events hall and diving centre.</li>
      </ul>
      `],
  ]




  let navPorFolio = [
      [
        'All',
        'active',
        '*'
      ],
      [
        'Administrative',
        '',
        '.filter-a'
      ],
      [
        'Commercial',
        '',
        '.filter-b'
      ],
      [
        'Educational',
        '',
        '.filter-c'
      ],
      [
        'Hospitality',
        '',
        '.filter-d'
      ],
      [
        'Industrial',
        '',
        '.filter-e'
      ],
      [
        'Infrastructure',
        '',
        '.filter-f'
      ],
      [
        'Medical & Health Care',
        '',
        '.filter-g'
      ],
      [
        'Mixed Use',
        '',
        '.filter-h'
      ],
      [
        'Residential',
        '',
        '.filter-i'
      ],
  ]
  
  

  